<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.vaqlo.agent</string>
	<key>BundleProgram</key>
	<string>Contents/MacOS/Vaqlo</string>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<dict>
		<key>SuccessfulExit</key>
		<false/>
	</dict>
	<key>ProcessType</key>
	<string>Interactive</string>
	<key>LimitLoadToSessionType</key>
	<string>Aqua</string>
	<key>EnvironmentVariables</key>
	<dict>
		<key>VAQLO_LAUNCHD</key>
		<string>1</string>
	</dict>
	<key>AssociatedBundleIdentifiers</key>
	<array>
		<string>com.vaqlo.recorder</string>
	</array>
</dict>
</plist>
